html, body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #fe496c;
}
body {
  background-image: url(../assets/images/nodes_white.svg);
  background-position: center center;
  background-size: 140px 134px;
  background-repeat: no-repeat;
}

.grid-content {
  max-width: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  > ul {
    margin: 0;
  }
}
